.add-btn {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: orange;
    position: absolute;
    left: 42%;
    top: 95%;
    &:hover {
        background-color:rgb(218, 144, 8);
    }
    span {
        font-size: 40px;
        font-weight: 700;
        color: white;
        font-family: sans-serif;
    }
}
