.head {
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 8px 20px -12px black;
    
    div {
        font-size: 30px;
        font-family: cursive;
        cursor: pointer;
    }
}